@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body {
  @apply mx-[20px]
}
.logoname {
  font-family: cursive;
  @apply text-4xl font-bold
}

.btn {
  @apply border border-gray-800 px-6 py-4 rounded-[20px] overflow-hidden relative z-10;
  
}

.skew-div {
  transform: skew(-0.07turn, 10deg);
}
.skew-img {
  transform: skew(0.07turn, 10deg);
}
.active {
    border-bottom: 5px solid purple;
}
.my-image {
  transition: all .5s;
  filter: brightness(.2);
}
.my-image:hover {
  filter: brightness(.9);
  transition: all .5s;
}
.name {
  white-space: nowrap;
  animation: typing 5s steps(15) infinite;
  border-right: 4px solid rgb(252, 200, 122) ;
  overflow: hidden;
}

@keyframes typing {
  0% {
    width: 0ch;
  }
  50% {
    width: 15ch;
  }
  100% {
    width: 0ch;
  }
}

.services {
  @apply w-[400px] h-[400px] bg-gray-100 shadow-lg flex flex-col py-4 rounded-[10px] hover:cursor-pointer;
  transition: all .5s;
}
.services:hover {
  transform: scale(1.2);
}
.services h2{ 
  @apply text-center text-2xl font-bold
}
.brand-icons {
  @apply w-[50px] text-gray-700 shadow-lg p-4 rounded-[20px] hover:cursor-pointer hover:text-purple-500;
  transition: all .5s;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  --c:#0000, #f03355 1deg 120deg,#0000 121deg;
  background:
    conic-gradient(from 0deg,  var(--c)) top right,
    conic-gradient(from 120deg,var(--c)) bottom,
    conic-gradient(from 240deg,var(--c)) top left;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  animation: l25 2s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l25 {
   33%  {inset:-8px;transform: rotate(0deg)}
   66%  {inset:-8px;transform: rotate(180deg)}
   100% {inset:0   ;transform: rotate(180deg)}
}