@tailwind base;
@tailwind components;
@tailwind utilities;


/* ------------------HTML----------------- >*/
/* ------------------HTML----------------- >*/
html { scroll-behavior: smooth;}


/* ------------------root----------------- >*/
/* ------------------root----------------- >*/
:root {
  --background: #ffffff;
  --foreground: #171717;
  --BTNGRADIENT2: linear-gradient(145deg, #23cc88, #8ecf35);
  --BTNGRADIENT1: linear-gradient(145deg, #ff4f58, #ffb400);
}

/* ------------------BODY----------------- >*/
/* ------------------BODY----------------- >*/
body {
  @apply mx-[20px];
  color: var(--foreground);
}


::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background-color: transparent;}
::-webkit-scrollbar-thumb { background-color: #333;}



/* ------------------REUSABLE STYLES----------------- >*/
.thm-btn {
  @apply py-4 px-6 w-[200px] border-none text-white font-medium text-xl rounded-md ;
}
.thm-btn-1 {
  background-image: var(--BTNGRADIENT1);
}
.thm-btn-2 {
  background-image: var(--BTNGRADIENT2);
}

.active {
  @apply font-bold text-black relative transition-all 
}
.active::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
  transition: all .5s;
}
/* ------------------REUSABLE STYELS----------------- >*/


/* ------------------NAV----------------- >*/

.nav-open-btn { cursor: pointer; }
.nav-open-btn .line {
  width: 30px;
  height: 2px;
  background-color: #333;
  margin-block: 4px;
  transform-origin: left;
  animation: menuBtn 400ms ease-in-out alternate infinite;
}

@keyframes menuBtn {
  0% {transform: scaleX(1);}
  100% {transform: scaleX(0.5);}
}

.nav-open-btn .line-1 { animation-delay: 150ms;}

.nav-open-btn .line-2 { animation-delay: 300ms; }


.project-cards .card {
  @apply w-[600px] h-[800px]  shadow-lg rounded-md overflow-hidden;
}

.project-img  img{
  @apply  h-auto object-cover
}

.card-content { @apply px-4 mt-5}
.card-content h2 {
  @apply text-4xl text-center font-bold py-4
}

.card-content p {
  @apply text-lg text-gray-600
}
.card-content .btn-wrapper  {
  @apply flex justify-center w-full mt-10
}



/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


.logoname {
  font-family: cursive;
  @apply text-4xl font-bold
}

.btn {
  @apply border border-gray-800 px-6 py-4 rounded-[20px] overflow-hidden relative z-10;
  transition: all .5s;
}
.btn:hover {
  @apply border-none bg-blue-500 text-white;
}

.skew-div {
  transform: skew(-0.07turn, 10deg);
}
.skew-img {
  transform: skew(0.07turn, 10deg);
}

.my-image {
  transition: all .5s;
  filter: brightness(.2);
}
.my-image:hover {
  filter: brightness(.9);
  transition: all .5s;
}
.name {
  white-space: nowrap;
  animation: typing 5s steps(15) infinite;
  border-right: 4px solid rgb(252, 200, 122) ;
  overflow: hidden;
}

@keyframes typing {
  0% {
    width: 0ch;
  }
  50% {
    width: 15ch;
  }
  100% {
    width: 0ch;
  }
}

.services {
  @apply w-[400px] h-[400px] bg-gray-100 shadow-lg flex flex-col py-4 rounded-[10px] hover:cursor-pointer;
  transition: all .5s;
}
.services:hover {
  transform: scale(1.2);
}
.services h2{ 
  @apply text-center text-2xl font-bold
}
.brand-icons {
  @apply w-[50px] text-gray-700 shadow-lg p-4 rounded-[20px] hover:cursor-pointer hover:text-purple-500;
  transition: all .5s;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  --c:#0000, #f03355 1deg 120deg,#0000 121deg;
  background:
    conic-gradient(from 0deg,  var(--c)) top right,
    conic-gradient(from 120deg,var(--c)) bottom,
    conic-gradient(from 240deg,var(--c)) top left;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  animation: l25 2s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l25 {
   33%  {inset:-8px;transform: rotate(0deg)}
   66%  {inset:-8px;transform: rotate(180deg)}
   100% {inset:0   ;transform: rotate(180deg)}
}

.follow-icons {
  @apply border-b-2 text-xl mt-5 flex items-center
}
.icons {
  @apply text-xl w-[50px] text-gray-700
}
.trendUp-icon {
  @apply text-purple-400 ml-10
}

.scroll-down {
  content: '';
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 100%;
  height: 100px;
}

.scrolldown-icon {
  animation: animatedown 1s infinite;
}

@keyframes animatedown {
  0%{
    transform: translateY(0);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}


